@font-face {
  font-family: 'Public Sans';
  src: url('../fonts/PublicSans-VariableFont_wght.ttf');
  font-weight: 300, 500, 700;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../fonts/DancingScript-Bold.ttf');
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Public Sans', sans-serif;
}

main {
  padding: 3rem 1rem 6.25rem;
}

.header {
  width: 100%;
  height: 100vh;
  background: url('../images/background.webp');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.header__menu {
  display: flex;
  max-width: 1200px;
  align-items: center;
  margin-inline: auto;
  padding: 1.2rem 1rem;
  justify-content: space-between;
}

.header__buttonMenu {
  display: none;
  cursor: pointer;
}

.header__logo {
  color: #fff;
  font-family: 'Dancing Script', sans-serif;
  font-size: clamp(2rem, 1.45rem + 2.72vw, 3.5rem);
}

.header__links {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__linkItem {
  list-style: none;
}

.header__link {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: clamp(1rem, 0.92rem + 0.36vw, 1.2rem);
}

.header__link:hover {
  color: #9b7761;
}

.info {
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  flex-direction: column;
  gap: clamp(3rem, 1.81rem + 5.9vw, 6.25rem);
  margin-bottom: clamp(6rem, 3.81rem + 10.9vw, 12rem);
}

.info__left,
.info__right {
  width: 100%;
  display: flex;
  gap: clamp(1rem, 0.27rem + 3.63vw, 3rem);
}

.info__leftImg,
.info__rightImg {
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.info__rightImg {
  border: #000 solid 2px;
}

.info__leftText,
.info__rightText {
  color: #4d4d4d;
  font-weight: 300;
  transition: color 0.3s ease;
  line-height: clamp(1.25rem, 0.61rem + 3.18vw, 3rem);
  font-size: clamp(0.75rem, 0.52rem + 1.13vw, 1.375rem);
}

.info__leftText:hover,
.info__rightText:hover {
  color: #9b7761;
}

.testimonials {
  gap: 9rem;
  display: flex;
  max-width: 1200px;
  margin-inline: auto;
  flex-direction: column;
}

.testimony__thumbnail {
  width: 200px;
  height: 200px;
  display: block;
  object-fit: cover;
  margin-bottom: 4rem;
  border-radius: 10px;
  margin-inline: auto;
  border: #9b7761 solid 2px;
}

.testimony__info {
  border-radius: 10px;
  border: 4px solid #9b7761;
  padding: clamp(1rem, 0.63rem + 1.81vw, 2rem);
}

.testimony__infoTitle {
  color: #9b7761;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 1.09rem + 0.54vw, 1.5rem);
}

.testimony__infoText {
  color: #4d4d4d;
  font-weight: 300;
  text-align: center;
  transition: colors 0.3s ease;
  font-size: clamp(0.9rem, 0.79rem + 0.54vw, 1.2rem);
  line-height: clamp(1.8rem, 1.54rem + 1.27vw, 2.5rem);
}

.testimony__infoText:hover {
  color: #9b7761;
}

.copyright {
  height: 5rem;
  color: #fff;
  display: grid;
  text-align: center;
  background: #0f0504;
  place-content: center;
  font-size: clamp(0.7rem, 0.59rem + 0.54vw, 1rem);
}

@media screen and (max-width: 840px) {
  .header {
    height: 60vh;
    background-size: 100vw;
    background-position-y: 5rem;
    background-repeat: no-repeat;
  }

  .header__menu {
    width: 100%;
    height: 5rem;
    position: fixed;
    padding-block: 0;
    justify-content: center;
    background-color: #000;
  }

  .header__buttonMenu {
    right: 1rem;
    display: block;
    position: absolute;
  }

  .header__links {
    left: 0;
    top: 5rem;
    width: 100%;
    position: fixed;
    flex-direction: column;
    background-color: #000;
    height: calc(100vh - 5rem);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .header__links.--show {
    transform: translateX(0);
  }
}

@media screen and (max-width: 690px) {
  .header {
    height: 50vh;
    background-position-y: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .info__left {
    flex-direction: column;
  }

  .info__right {
    flex-direction: column-reverse;
  }

  .info__leftImg,
  .info__rightImg {
    width: 100%;
  }
}

@media screen and (max-width: 630px) {
  .header {
    height: 40vh;
    background-position-y: 2rem;
  }
}

@media screen and (max-width: 512px) {
  .header {
    background-position-y: 4rem;
  }
}

@media screen and (max-width: 440px) {
  .header {
    background-size: 600px;
    background-position: center 2rem;
  }
}
